.initial-button {
    display: flex;
    width: 100%;
}

input {
    display: flex;
    padding: 0px 18px;
    width: 85%;
    height: 44px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #ffffff;
    border-radius: 12px;
    margin-top: 44px;
}

.add-item {
    width: 15%;
    height: 44px;
    box-sizing: border-box;
    background: var(--color-brand);
    border: 2px solid var(--color-brand);
    border-radius: 12px;
    margin-top: 44px;
    margin-left: 16px;
    color: #FFFFFF;
}

.add-new {
    font-family: var(--font-family);
    font-size: var(--font-label-size);
    color: var(--content-tertiary);
}